@import "tailwindcss";
.aa{
   cursor: pointer;
 animation-name: ripple;
 animation-duration: 3.5s;

animation-iteration-count: infinite;
animation-fill-mode: both;

}
@keyframes ripple {
  0%{
box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
  }
75%{
  box-shadow: 0 0 0 0 rgba(234, 232, 232, 0.267), 0 0 0 20px #fff4;
}
100%{
  box-shadow: 0 0 0 20px #fff0, 0 0 0 20px #fff4;
}  
}

.kala{
  top: 0;
  height: 10vh;
}

.ka{
    transform: translateY(-160%);
    width: 700px;
    margin-right: 10%;
    transition: all 1s ease-in-out;
}